/* DarkGrey: '#202731',
Grey: '#4d4f56',
LightGrey: '#787c85',
White: '#e7e7e7',
Blue: '#00acb4', */


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

:root{
    --main-color: #202731;
    --second-color: #00acb4;
    --text-color: #e7e7e7;
    --gradient: linear-gradient(#202731,#00acb4);
}


html::-webkit-scrollbar{
    width: 0.5rem;
}

html::-webkit-scrollbar-track{
    background-color: transparent;
}

html::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}


section{
    padding: 50px 100px;
}

header{
    position:fixed;
    width: 100%;
    top:0;
    right: 0;
    z-index: 1000;
    padding: 15px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #202731;
}

#menu-icon{
    color: #e7e7e7;
    font-size: 25px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}


.logo img{
    width: 50px;
}

.navbar{
    display: flex;
}

.navbar li{
    position: relative;
}

.navbar a{
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}

.navbar a::after
{
    content: '';
    width: 0;
    height: 3px;
    background: var(--gradient);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;
}





.navbar a:hover::after
{
    width: 100%;
}


.header-btn a{
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500px;
}

.header-btn .sign-in{
    background: #0b666b;
    color: #e7e7e7;
    border-radius: 0.5rem;
    
}

.header-btn .sign-in:hover{
    background: #00acb4;
}







.home{
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: url(images/startPageImage.png);
    background-repeat: no-repeat;
    background-position: center right;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
}

.text h1{
    font-size: 3.5rem;
    letter-spacing: 2px;
}

.text span{
    color: #0b666b;
}

.text p{
    margin: 0.5rem 0 1rem;
}


/* .form-container form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    position: absolute;
    bottom: 4rem;
    left:100px;
    background:#202731;
    padding: 20px;
    border-radius: 1rem;
}

.input-box{
    flex: 1 1 7rem;
    display: flex;
    flex-direction: column;
}

.input-box span{
    font-weight: 500;
}

.input-box input{
    padding: 8px;
    outline: none;
    border: none;
    background: #e7e7e7;
    border-radius: 1rem;
    font-size: 1rem;
}

.form-container form .btn{
    flex: 1 1 7rem;
    padding: 10px 34px;
    border:none;
    border-radius: 1rem;
    background: #0b666b;
    color:#e7e7e7;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.input-box span{
    color: #e7e7e7;
}

.form-container form .btn:hover{
    background: #00acb4;
} */


.heading{
    text-align: center;
}

.heading span{
    font-weight: 500;
    text-transform: uppercase;
}


.heading h1{
    font-size: 2rem;
}










.ride-container{
    display: grid;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px,auto));
}

.ride-container .box{
    text-align: center;
    padding: 25px;
}

.ride-container .box .bx{
    text-align: center;
    padding: 25px;
    border-radius: 1rem;
    background-color: #0b666b;
    color:#0b666b;
}

.ride-container .box .bx:hover{
    background-color:#00acb4;
}






/* responsive */

@media (max-width:990px){
    header{
        padding:18px 40px;
    }

    section{
        padding: 50px 40px;
    }
}

@media (max-width:880px){
    .home{
        background-position: left;

    }
    .form-container form{
        bottom: 0.2rem;
        left: 40px;
    }
}

@media (max-width:760px){
    .header{
        padding: 11px 40px;
    }
    
    #menu-icon{
        display: initial;
    }

    .text h1{
        font-size: 2.5rem;
    }

    .home{
        grid-template-columns: 1fr;
    }

    .form-container form{
        position: unset;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #202731;
        box-shadow: 0 4px 4px rgba(0,0,0,0.1);
        transition: 0.3s ease;
        text-align: left; 
    }

    .navbar a{
        padding:1rem;
        border-left:2px solid #0b666b;
        display: block;
    }

    .navbar a:hover{
        color: #e7e7e7;
        background: #0b666b;
        border: none;
    }

    .navbar a::after{
        display: none;
    }

    .heading span{
        font-size: 0.9rem;
        font-weight: 600;
    }

    .heading h1{
        font-size: 1.3rem;
        
    }

    .about-container{
        grid-template-columns: 1fr;
        text-align: center;
    }

    .about-img{
        padding: 1rem;
        order: 2;
    }

}


@media (max-width:350px){
    header{
        padding:6px 14px;
    }

    .logo-img{
        width:30px;
    }

    section{
        padding: 50px 15px;
    }


    .header-btn .sign-in .sign-up{
        padding: 7px 10px;
        font-size: 15px;
        font-weight: 400;
    }


    .text h1{
        font-size: 2rem;
    }

    .form-container{
        padding-top: 2rem;   
    }


    .cars-container{
        grid-template-columns: repeat(auto-fit,minmax(254px,auto));
    }
}